nav {
  border-right:1px solid gray;
  width:200px;
  float:left;
  height: 600px;
}
nav ol {
  list-style: none;
}
article {
  float: left;
  padding: 20px;
}
h2{
  font-size: 30px;
}
div div{
  margin-top: 30px;
}
div.container{
  border-bottom:2px solid black;
  padding-left: 160.5;
  width: 1491px;
  }
