nav {
  border-right:1px solid gray;
  width:200px;
  float:left;
  height: 600px;
}
nav ol {
  list-style: none;
}
article {
  float: left;
  padding: 20px;모
}
h2{
  font-size: 30px;
}
div div{
  margin-top: 30px;
}
html{
  font-family: "Montserrat", sans-serif, serif;
}
